@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Zen+Maru+Gothic&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Zen Maru Gothic', sans-serif;
    background: #0a0b0d;
    background: radial-gradient(circle at 50% 50%, #16191f 0%, #0a0b0d 100%) fixed;
    padding: 0;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
}

img {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
    max-width: 100%;
    border: 5px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px gold;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
    background-color: #1f5dd8;
    padding: 15px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

a:hover {
    background-color: #1f5dd8;
    transform: scale(1.1);
    box-shadow: 0 0 10px #1f5dd8;
}

.container {
    background-color: #121417;
    border: 1px solid #2c3036;
    width: 90%;
    max-width: 1200px;
    min-height: 80vh;
    height: auto;
    margin: auto auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 30px;
    margin-bottom: 20px;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 80px;
}

h1 {
    font-family: 'Liu Jian Mao Cao', cursive;
    color: goldenrod;
    font-weight: 900;
    font-size: 6rem;
    margin-top: 30px;
    text-shadow: 2px 2px 10px rgba(218, 165, 32, 0.3);
}

h2 {
    color: gold;
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 1px 1px 8px rgba(255, 215, 0, 0.2);
}

p {
    width: 80%;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.button-container {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    img {
        width: 200px;
        height: 200px;
        margin: 40px;
    }

    .header-text {
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        height: auto;
        min-height: 90vh;
        padding: 40px 20px;
    }

    .header {
        flex-direction: column;
        gap: 20px;
    }

    img {
        width: 150px;
        height: 150px;
        margin: 20px;
    }

    .header-text {
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        width: 100%;
        font-size: 1.1rem;
        line-height: 2;
    }

    .button-container {
        margin-top: 30px;
        justify-content: center;
    }
}